{% extends "layout2.html" %}

{% block content %}
    <div>
        <form method="GET" action="search">
            <div>
                <!-- <label for="query">Name</label> -->
                <input type="text" name="query" id="query">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>

    <section class="content">
        {% for rezept in rezepte %}
        <div>
            <a href="{{rezept.link}}">
                <img src="{{url_for('static', filename=rezept.thumbnail)}}">
            </a>
        </div>
        <div>
            <a href="{{rezept.link}}">{{rezept.titel}}</a><br>
        </div>
        {% endfor %}

    </section>
{% endblock %}
