{% extends "layout_main.html" %}
{% block content %}
<!-- <form> -->
<!--     <input type="text" class="search" placeholder="Search.." name="search"> -->
<!--     <button type="submit" class="button"> -->
<!--         <img src="{{url_for('static', filename="bilder/" + 'search.png')}}" > -->
<!--     </button> -->
<!-- </form> -->
<!-- <form> -->
<!--     <button type="submit" class="button"> -->
<!--         <img src="{{url_for('static', filename="bilder/" + 'add.png')}}" > -->
<!--     </button> -->
<!-- </form> -->
{% endblock %}
