{% extends "layout2.html" %}
{% block content %}
    <!-- Eingabemaske -->
    <div>
        <label for="title">Title:</label><BR>
        <input type=text" size="79" name="title" id="tilte">
    </div>
    <div>
        <label for="conten">Zutaten:</label><BR>
        <textarea rows="10" cols="80" name="Zutaten" id="Zutaten"></textarea>
    </div>
    <div>
        <label for="conten">Zubereitung:</label><BR>
        <textarea rows="5" cols="80" name="Zubereitung" id="Zubereitung"></textarea>
    </div>
    <div>
        <label for="conten">Kategorie:</label><BR>
        <input type=text" size="79" name="Kategorie" id="Kategorie">
    </div>
    <div>
        <label for="conten">Tags:</label><BR>
        <input type=text" size="79" name="Tags" id="Tags">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    <BR>
    <BR>
    <BR>
    <div>
        <form method="GET" action="search">
            <div>
                <!-- <label for="query">Name</label> -->
                <input type="text" name="query" id="query">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
{% endblock %}
