{% extends "layout2.html" %}

{% block content %}
    <div>
        <form method="GET" action="search">
                <input type="text" name="query" id="query">
                <button type="submit">Search</button>
        </form>
        <form method="GET" action="rezept/neu">
                <button type="submit">Neues Rezept</button>
        </form>
    </div>

    <section class="content">
        {% for rezept in rezepte %}
        <div>
            <a href="rezept/{{rezept.id}}">
                <img src="{{url_for('static', filename="bilder/thumbnails/" + rezept.thumbnail)}}">
            </a>
        </div>
        <div>
            <a href="rezept/{{rezept.id}}">{{rezept.titel}}</a><br>
        </div>
        {% endfor %}
    </section>

</div>
{% endblock %}
