{% extends "layout_main.html" %}

{% block content %}
    <!-- <div> -->
    <!--     <a href="{{ url_for('neues_rezept') }}"> -->
    <!--         <img src="{{url_for('static', filename="bilder/add.png")}}"> -->
    <!--     </a> -->
    <!-- </div> -->
    <!-- <div> -->
    <!--     <form class="form" method="GET" action="search"> -->
    <!--         <input class="search" type="text" placeholder="Search.." name="search"> -->
    <!--         <button type="submit"> -->
    <!--             <img src="{{url_for('static', filename="bilder/search.png")}}"></img> -->
    <!--         </button> -->
    <!--     </form> -->
    <!-- </div> -->

    <section class="content">
        {% for rezept in rezepte %}
        <div>
            <a href="rezept/{{rezept.id}}">
                <img src="{{url_for('static', filename="bilder/thumbnails/" + rezept.thumbnail)}}">
            </a>
        </div>
        <div>
            <a href="rezept/{{rezept.id}}">{{rezept.titel}}</a><br>
        </div>
        {% endfor %}
    </section>

</div>
{% endblock %}
