{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        <div>
            {{ form.hidden_tag() }}
        </div>
        <div>
            {{ form.titel.label() }}
            <BR>
            {{ form.titel() }}
        </div>
        <div>
            {{ form.zutaten.label() }}
            <BR>
            {{ form.zutaten() }}
        </div>
        <div>
        <div>
            {{ form.zubereitung.label() }}
            <BR>
            {{ form.zubereitung() }}
        </div>
        <div>
            {{ form.kategorie.label() }}
            <BR>
            {{ form.kategorie() }}
        </div>
        <div>
            {{ form.tags.label() }}
            <BR>
            {{ form.tags() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock content %}
