{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="" enctype="multipart/form-data">
        <div>
            {{ form.hidden_tag() }}
        </div>
        <div>
            {{ form.titel.label() }}
            <BR>
            {{ form.titel() }}
        </div>
        <div>
            {{ form.zutaten.label() }}
            <BR>
            {{ form.zutaten() }}
        </div>
        <div>
        <div>
            {{ form.zubereitung.label() }}
            <BR>
            {{ form.zubereitung() }}
        </div>
        <div>
            {{ form.kategorie.label() }}
            <BR>
            {{ form.kategorie() }}
        </div>
        <div>
            {{ form.tags.label() }}
            <BR>
            {{ form.tags() }}
        </div>
        <div>
            {{ form.bild.label() }}
            <BR>
            {{ form.bild() }}
            {% if form.bild.errors %}
                {% for error in form.bild.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock content %}
